<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Perfil
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content  style="background:url(assets/imgs/fundo.png)">
  <div class="uploadFoto" (click)="getImage()">
    <img src="assets/imgs/foto.jpg" id="imgLogo" *ngIf="!imageURI">
    <ion-grid *ngIf="imageURI">
      <ion-row>
        <div col-12 id="imgExiste">
          <img src="{{imageBase64}}">
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <form id="cadastro2-form5" [formGroup]="cadastroForm2" (submit)="salvarCadastro()" novalidate>
    <ion-row>
      <ion-item id="cadastro_nomeSobrenome" class="input" col-6>
        <ion-input maxlength="50"  formControlName="nome" [class.invalid]="!cadastroForm2.controls.nome.valid && (cadastroForm2.controls.nome.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="text" placeholder="Nome Completo"  style="text-transform: capitalize">
        </ion-input>
      </ion-item>
      <ion-item id="cadastro_senha" class="input" col-6>
        <ion-input maxlength="50"  formControlName="senha" [class.invalid]="!cadastroForm2.controls.senha.valid && (cadastroForm2.controls.senha.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="password" placeholder="Senha"  style="text-transform: capitalize">
        </ion-input>
      </ion-item>
      <ion-item id="cadastro_email" class="input" col-6>

        <ion-input  maxlength="50" [class.invalid]="!cadastroForm2.controls.email.valid && (cadastroForm2.controls.email.dirty || !emailStatus || submitAttempt)"
          formControlName="email" type="email" clearInput clearOnEdit="false"  placeholder="E-mail">
        </ion-input>

      </ion-item>
      <ion-item id="cadastro_telefone" class="input" col-6>

        <ion-input  [brmasker]="{phone: true}" [class.invalid]="!cadastroForm2.controls.telefone.valid && (cadastroForm2.controls.telefone.dirty  || submitAttempt)"
          formControlName="telefone" type="tel"  clearInput clearOnEdit="false" placeholder="Telefone/Celular">
        </ion-input>

      </ion-item>
      <ion-item id="cadastro2-input6" class="input" col-12>
        <ion-label>Nascimento</ion-label>

        <ion-input  displayFormat="DD/MM/YYYY" [class.invalid]="!cadastroForm2.controls.nascimento.valid && (cadastroForm2.controls.nascimento.dirty || submitAttempt)"
          formControlName="nascimento" type="date" clearInput clearOnEdit="false" placeholder="Nascimento">
        </ion-input>


      </ion-item>
      
      <ion-list class="row-sexo" id="cadastro_sexo" col-12 radio-group [(ngModel)]="sexo" formControlName="sexo" [class.invalid]="!cadastroForm2.controls.sexo.valid && (cadastroForm2.controls.sexo.dirty || submitAttempt)">
        <ion-label class="col-sexo">Sexo</ion-label>
        <ion-item class="col-sexo">
          <ion-radio class="radioSexo" value="M" checked></ion-radio>
          <ion-label class="labelSexo">Masculino</ion-label>
        </ion-item>
        <ion-item class="col-sexo">
          <ion-radio class="radioSexo" value="F"></ion-radio>
          <ion-label class="labelSexo">Feminino</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row>
      <ion-item id="cadastro_cpf" class="input" col-6>
        <ion-input type="tel"  formControlName="cadastro_cpf"  [class.invalid]="!cadastroForm2.controls.cadastro_cpf.valid && (cadastroForm2.controls.cadastro_cpf.dirty || submitAttempt)"
          [brmasker]="{mask: '000.000.000-00', len:14, type:'num'}" placeholder="CPF"></ion-input>
      </ion-item>
      <ion-item id="cadastro_rg" class="input" col-6>
        <ion-input type="text"  formControlName="cadastro_rg"  [class.invalid]="!cadastroForm2.controls.cadastro_rg.valid && (cadastroForm2.controls.cadastro_rg.dirty || submitAttempt)"
          [brmasker]="{rg: true}" placeholder="RG"></ion-input>
      </ion-item>

    </ion-row>


    <ion-row>
      <ion-item id="cadastro_endereco" class="input" col-6>
        <ion-input maxlength="50" [(ngModel)]="endereco" formControlName="endereco" [class.invalid]="!cadastroForm2.controls.endereco.valid && (cadastroForm2.controls.endereco.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="text"  placeholder="Endereço"> </ion-input>
      </ion-item>
      <ion-item id="cadastro_numero" class="input" col-6>
        <ion-input [(ngModel)]="numero" formControlName="numero" [class.invalid]="!cadastroForm2.controls.numero.valid && (cadastroForm2.controls.numero.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="number" placeholder="Número"> </ion-input>
      </ion-item>

      <ion-item id="cadastro_bairro" class="input" col-6>
        <ion-input maxlength="50" [(ngModel)]="bairro" formControlName="bairro" [class.invalid]="!cadastroForm2.controls.bairro.valid && (cadastroForm2.controls.bairro.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="text"  placeholder="Bairro"> </ion-input>
      </ion-item>

      <ion-item id="cadastro_cep" class="input" col-6>
        <ion-input [brmasker]=" {cep : true}" [(ngModel)]="cep" formControlName="cep" [class.invalid]="!cadastroForm2.controls.cep.valid && (cadastroForm2.controls.cep.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="tel"  placeholder="CEP"> </ion-input>
      </ion-item>
      <ion-item id="cadastro_cidade" class="input" col-6>
        <ion-input maxlength="50" [(ngModel)]="cidade"  formControlName="cidade" [class.invalid]="!cadastroForm2.controls.cidade.valid && (cadastroForm2.controls.cidade.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="text" placeholder="Cidade"> </ion-input>
      </ion-item>
  
      <ion-item id="cadastro_uf" class="input" col-6>
        <ion-input maxlength="50" [(ngModel)]="uf" formControlName="uf"  [class.invalid]="!cadastroForm2.controls.uf.valid && (cadastroForm2.controls.uf.dirty || submitAttempt)"
          clearInput clearOnEdit="false" type="text" placeholder="Estado"> </ion-input>
      </ion-item>
      <!--ion-item id="cadastro_complemento" class="input" col-12>
          <ion-input maxlength="50" [(ngModel)]="complemento" formControlName="complemento"  [class.invalid]="!cadastroForm2.controls.complemento.valid && (cadastroForm2.controls.complemento.dirty || submitAttempt)"
            clearInput clearOnEdit="false" type="text" placeholder="Complemento"> </ion-input>
        </ion-item-->
    </ion-row>

    <button id="btnFooter" ion-button>Avançar</button>
  </form>

</ion-content>