page-cadastro {
    .scroll-content{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    #imgLogo{
        position: relative;
		left:50%;
        height: 100px;
        margin-left: -50px;

    }

    .back-button-text-ios{

        display: none;
    }

    .back-button{

        color: #d6da3b;
    }

    .toolbar-title{

        color:#FFF;
    }

    .toolbar-background{
        background-color: #443a91;
    }

    .input{

        background-color: #73737d;
        font-size: 13px;
        border-radius: 60px;
        color: #FFF;
        border: 0;
        border-bottom: 0;
        margin: 5px;
        margin-right: 0;
        width: 100%;
        
    }
    .datetime-text:empty:not(:focus):before{
        content: "Nascimento"
    }
   
    #nascimento{

        background-color: #73737d;

       
 
        
    }

    .text-input-ios, .text-input-md{

        margin: 8px;
    }

    #btnFooter{

       // position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        background: #d6da3b;
        color: #443a91;
        max-height: 50px;
        font-weight: 400;

    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }

      .item-md, .item-ios{

        background: 0;
        padding: 0;
        border: 0;
        margin: 0;
      }

      .item-ios.item-block .item-inner, .item-md.item-block .item-inner{

        border-bottom: 0;
      }

      .row-sexo{
		width: 100%; 
        display: table;
        margin: 0;
        margin-left: -10px;
	}

	.col-sexo{
		display: table-cell;
	    text-align: center;
	    vertical-align: middle;
	    padding-right: 0px;
        padding-left: 0px;
        border-bottom: 0 !important;
        color: #FFF;
        width: 30%;
    }
    
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item-ios .radio-ios{
        margin: 0;
        position: relative;
        display: inline-block;

       

    }
    .item-radio-checked.item-ios ion-label,.item-radio-checked.item-md ion-label{

        color: #FFF;
    }

    .radio-md .radio-checked, .radio-md .radio-icon{
        border-color: #FFF;
    }
    .radio-ios .radio-checked .radio-inner{

        border-color:#d6da3b;
    }
    .radio-md .radio-inner{
        background: #d6da3b;
    }
}
