page-login {

    #login{

        padding: 20px;
        background-size:cover;
        background-color:#1d154e;
    }
    #formLogin{
        // position: relative;
		width: 100%;
    }
 
    
    #imgLogo{

        position: absolute;
        width: 46%;
        left: 26%;
        top: 15%;
    }
    #divPrincipal{

        -webkit-margin-before:80%;
    
    }
    #btnLogin{

        color: #4c446b;
        width: 100%;
        background-color: #d6da3b;
        margin:15px;
        margin-left: 0;
        height: 20px;
        font-size: 1em;
        text-transform: none;
        padding: 20px;
        border-radius: 60px;
    }

    #btnCadastro{

        color: #4c446b;
        width: 100%;
        background-color: #d6da3b;
        margin:15px;
        margin-left: 0;
        height: 20px;
        font-size: 1em;
        text-transform: none;
        padding: 20px;
        border-radius: 60px;
    }

    #esqueceuSenha{
        text-align: right;
        font-size: 12px;
    }

    #inputLogin{

        background-color: #73737d;
        width: 100%;
        margin:15px;
        margin-left: 0;
        height: 20px;
        font-size: 1em;
        text-transform: none;
        padding-left: 5px;
        border-radius: 60px;
        color: #FFF;
        border: 0;
        border-bottom: 0;
        
    }
    #inputPassword{

        background-color: #73737d;
        width: 100%;
        margin:15px;
        margin-left: 0;
        height: 20px;
        font-size: 1em;
        text-transform: none;
        padding-left: 5px;
        border-radius: 60px;
        color: #FFF;
        border: 0;
        border-bottom: 0;
    }
    #iconBorder{

        border: #FFF;
        border-radius: 50px;
    }

    #esqueceuSenha a{

        color: #FFF;
        align-items: right;
    }

    .text-input-wp{

        border:0;
    }

    .iconLogin{
        background: #FFF;
        color: #2e2564;
        border-radius: 50%;
        display: inline-block;
        height: 40px;
        width: 40px;
        align-items: center;
    }

    .icon{
        top:10px !important; 
        left: 18px !important;
        position: absolute !important;
        height: 15px !important;
        width: 15px !important;
        font-size: 20px !important;

    }

    .item-md ion-icon[item-start] + .item-inner{

        margin:0;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }

      .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item-md, .item-ios{

        background: 0;
        padding: 0;
        border: 0;
        margin: 0;
      }

      .item-ios.item-block .item-inner, .item-md.item-block .item-inner{

        border-bottom: 0;
      }

      input::placeholder {
        color: FFF;

      }
    
}