<ion-header>

</ion-header>
<ion-content class="no-scroll" padding style="background:url(assets/imgs/fundo-tenis.png)"
  id="login">
  <img src="assets/imgs/logo-branco.png" id="imgLogo" alt="Logo Tennis Lounge">
  <div id="divPrincipal">

    <form id="formLogin" [formGroup]="loginForm" (submit)="validaLogin()" novalidate>
        
          <ion-list >
              <ion-item  id="inputLogin">
                  <div item-start class="iconLogin"><ion-icon class="icon" name="mail"></ion-icon></div>
                  <ion-input type="text" [(ngModel)]="login" formControlName="login" placeholder="E-mail"></ion-input>
              </ion-item>
              <ion-item id="inputPassword">
                  <div item-start class="iconLogin"><ion-icon class="icon" name="lock"></ion-icon></div>
                  <ion-input type="password" [(ngModel)]="senha"  formControlName="senha" placeholder="Senha"></ion-input>
              </ion-item>
          </ion-list>
    
      <!-- <div class="spacer" style="height:40px;" id="login-spacer1"></div> -->
      <button id="btnLogin" ion-button color="secondary" block large>
        Login
      </button>

    </form>
    <ion-label id="esqueceuSenha"><a on-click="resetaSenha()">Esqueceu a Senha?</a></ion-label>
    <button id="btnCadastro" ion-button color="secondary" block large on-click="goToCadastro1()">
      <span></span>Cadastre-se
    </button>

  </div> 
</ion-content>