<ion-tabs id="tabs-tabs1" (ionChange)="tabChange($event)">
  <ion-tab [root]="tab1Root" tabTitle="Agendamento" tabIcon="calendar" id="tabs-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Histórico" tabIcon="paper" id="tabs-tab1"></ion-tab>
  <ion-tab [root]="rootPage" tabTitle="Sair"  tabIcon="exit"  id="tabs-tab3"></ion-tab>
</ion-tabs>