
.tabs-md, .tabs-ios , .tabs-wp{
    .tab-button[aria-selected=true] .tab-button-icon {
        color: rgb(118, 34, 131);
    }
    .tab-button[aria-selected=true] {
        color: rgb(118, 34, 131);
    }
    

}

// .tabbar{

//     background: #d6da3b !important;
// }