<ion-header>

  <ion-navbar>
    <ion-title>Confirmacao</ion-title>
  </ion-navbar>

</ion-header>
<ion-content style="background:url(assets/imgs/fundo.png)">
  <ion-row>

    <ion-item col-12 class="input noPadding" style="background-color: #73737d;">
      <ion-label >Forma de Pagamento</ion-label>
      <ion-select  [(ngModel)]="formaDePagamento" id="reserva_formaDePagamento">
        <ion-option value="1">Dinheiro</ion-option>
        <ion-option value="2">Cheque</ion-option>
      </ion-select>
    </ion-item>


    <ion-item id="reserva_aula" class="input" col-12>
      <ion-input disabled value="Aula: {{localSelecionado.modalidade}}">
      </ion-input>
    </ion-item>

    <ion-item id="reserva_data" class="input" col-6>
      <ion-input disabled value="Data : {{localSelecionado.dia}}">
      </ion-input>
    </ion-item>

    <ion-item id="reserva_hora" class="input" col-6>
      <ion-input disabled value="{{horaFormatada}}">
      </ion-input>
    </ion-item>

    <ion-item id="reserva_unidade" class="input" col-12>
      <ion-input disabled value="Valor : {{localSelecionado.valor.replace('.',',') }}" >
      </ion-input>
    </ion-item>
    <ion-item id="reserva_unidade" class="input" col-12>
      <ion-input disabled value="Unidade : {{localSelecionado.unidade}}">
      </ion-input>
    </ion-item>



  </ion-row>
  
    <button id="btnFooter" ion-button (click)="reserva_aula()"  *ngIf="formaDePagamento == 0" disabled>
      
      <ion-icon isActive name="checkmark-circle-outline" ></ion-icon> RESERVAR
    </button>
  
    <button id="btnFooter" ion-button (click)="reserva_aula()"  *ngIf="formaDePagamento > 0">
      
      <ion-icon isActive name="checkmark-circle-outline" ></ion-icon> RESERVAR
    </button>
  
</ion-content>