// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu
{
    background-color: transparent;
    top: 90%;
}
#imgExiste{
    margin-left: 38%;
    max-width: 21%;
}
.invalid {
    border: 2px solid #ea6153 !important;
}
.selecionado {
    border: 3px solid #d6da3b !important;
}
.grupo-passo {
    width:134%;
    margin-top: 5%;

}
.grupo-passo  div 
{
    padding-left: 0px;
    padding-right: 0px;

}

h2 {
    color: rgba($color: #000, $alpha: .87);
}
p {
    color: rgba($color: rgb(10, 10, 10), $alpha: .80);
    font-size: 60%;
}

h2, p 
{
    white-space: normal;
    
    size: 5px;
}
.alert-ios,.alert-md {

    .alert-radio-label{
        white-space: inherit !important;
        text-align: start;
        size: 1px;
    }

}
// iOS & Android only
.item-md, .item-ios {
    h2 {
        color: rgba($color: #000, $alpha: .87);
    }
    p {
        color: rgba($color: rgb(10, 10, 10), $alpha: .80);
        font-size: 60%;
    }

  }
  
  // iOS, Android & WP
  .item-md, .item-ios, .item-wp {
    font-size: 0.9em;

  h2, p {
      white-space: normal;
      
      size: 5px;
  }
  
  .noPadding{

    padding: 0;
  }

  .noMargin{
      margin: 0;
  }

}