page-notificacao {
    .header-ios,.header-md{
        background: radial-gradient(circle, rgb(243, 243, 243),#d3d3d3);
    }
    .image-not-code ion-icon {
        margin-top: 40%;
        font-size: 7em;
        margin-left: 37%;
    
    }


    // iOS & Android only  
    
    .label-md, .label-ios{
        margin: 0;
    }

    .item-md, .item-ios {
        h6 {
            color: rgba($color: #FFF, $alpha: .87);
            font-size: 90%;
            margin: 13px 8px 13px 0;

        }
        p {
            color: rgba($color: #FFF, $alpha: .80);
            font-size: 80%;
        }

    }
    
    // iOS, Android & WP
    .item-md, .item-ios, .item-wp {
        box-sizing : content-box;
        h2, p ,h6{
            white-space: normal;
            
            size: 10px;
        }
    
    }

    .input{

        background-color: transparent;
        font-size: 16px;
        border-radius: 60px;
        color: #FFF;
        border: 0;
        border-bottom: 0;
        margin: -10px;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        font-weight: 500;
        
    }

    .divider{

        border: 0.5px solid #d6da3b;
        margin: 10px;
    }
    .item-ios span, .item-md span{
        padding: 0 !important;
        margin: 5px !important;
        margin-left: 8px !important;
    }
    
    .item-ios p, .item-md p{
        padding: 0 !important;
        margin: 0px !important;
        margin-left: 5px !important;
        margin-bottom: 0px;
    }

    .list-md .item-block .item-inner, .list-ios .item-block .item-inner{

        border-bottom: 0;
        margin: 5px;
    }
}
