<ion-header>

    <div class="logo">
        <img src="assets/imgs/logo tennis lounge-02.png" style="width: 196px;margin-left: 50px;" />
    </div>
</ion-header>

<ion-content class="no-scroll" padding style="background:url(assets/imgs/fundo.png)">
    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngFor="let aula of feeds" >
        <ion-item class="input">
            <p> {{aula.dia}} - {{aula.hora}} {{aula.unidade}}</p>
            <p>{{aula.espaco}} - {{aula.professor}} </p>
        </ion-item>
        <div class="divider"></div>
    </ion-list>
    <ion-item class="input" *ngIf="!flagFeeds">
        <p> Sem Histórico de aulas</p>
    </ion-item>
    

</ion-content>