page-calendar {
    .item-hora{
        background-color: transparent;
        color: white;
        width: 50%;
        
    }
    
    ion-scroll {
        white-space: nowrap;
        height: 250px;
    }

    .toolbar-title{

        color:#FFF;
    }

    .toolbar-background{
        background-color: #443a91;
    }


    .back-button-text-ios{

        display: none;
    }

    .back-button{

        color: #d6da3b;
    }
    // iOS & Android only  
    
    .label-md, .label-ios{
        margin: 0;
    }

    .ion-grid {
        h6 {
            color: rgba($color: #FFF, $alpha: .87);
            font-size: 90%;
            margin: 13px 8px 13px 0;

        }
        p {
            color: rgba($color: #FFF, $alpha: .80);
            font-size: 80%;
        }

    }
    
    // iOS, Android & WP
    .ion-grid {
        box-sizing : content-box;
        h2, p ,h6{
            white-space: normal;
            
            size: 10px;
        }
    
    }

    .horario{
        border-style: solid;
        margin: 5px;

    }
    .texto-alterado{
        color: #FFF;

    }
    .dias-disponivel{
        color: #FFF;
        border-radius: 60px;
        background-color: #73737d;
        font-size: 13px;
        border: 0;
        border-bottom: 0;
        margin: 2%;
        margin-right: 0;
        width: 100%;
        text-align: center;

    }
    .input{

        background-color: #73737d;
        font-size: 13px;
        border-radius: 60px;
        color: #FFF;
        border: 0;
        border-bottom: 0;
        margin: 5px;
        margin-right: 0;
        width: 100%;
        
    }

    .item-ios span, .item-md span{
        padding: 0 !important;
        margin: 5px !important;
        margin-left: 8px !important;
    }
    
    .item-ios p, .item-md p{
        padding: 0 !important;
        margin: 0px !important;
        margin-left: 5px !important;
        margin-bottom: 0px;
    }

    .list-md .item-block .item-inner, .list-ios .item-block .item-inner{

        border-bottom: 0;
        margin: 5px;
    }

    .item-md.item-block .item-inner, .item-ios.item-block .item-inner{

        border-bottom: 0;
    }

    #tabs-tabs1{

        display: none;
    }

}
