<ion-header>

  <ion-navbar>


    <ion-title>
      Reservar
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content class="no-scroll" style="background:url(assets/imgs/fundo.png)">

  <ion-row>
    <ion-grid class="texto-alterado">

      <ion-label *ngIf="!hasAgenda">


        Nenhuma data disponível no momento.


      </ion-label>
      <ion-label *ngIf="hasAgenda">


        Selecione uma data abaixo.


      </ion-label>
    </ion-grid>
    <ion-scroll scrollX="true" style="width:100vw; height:50px">

      <ion-row nowrap>

        <ion-grid col-4 class="dias-disponivel" *ngFor="let data of datas">
          <span (click)="buscaLocal(data.id)" id="dia_{{data.id}}">{{data.dia.substring(5,-1) }}</span>
        </ion-grid>
      </ion-row>
    </ion-scroll>
  </ion-row>


  <ion-list>
    <ion-grid class="texto-alterado" *ngFor="let local of feeds; let i = index">

      <ion-label>{{local.espaco}} </ion-label>


      <label>
        <ion-icon name="navigate"></ion-icon> {{local.unidade}} - {{local.professor}}</label>


        <ion-list radio-group [(ngModel)]="horaSelecionada">
          <ion-row>

            <ion-item *ngFor="let hora of local.horarios" col-5 class="item-hora" >
              <ion-label> {{hora.hora.substring(5,-1)}} </ion-label>
              <ion-radio value="{{hora.id_aula}}" (click)="salvaLocalSelecionada(local,hora.hora.substring(5,-1) )" [disabled]="hora.id_aulo >= 1"></ion-radio>
            </ion-item>
          </ion-row>

        </ion-list>


    </ion-grid>



  </ion-list>

  <ion-row>
    <button col-12 ion-button color="secondary" on-click="goToConfirmacao()" *ngIf="hasAgenda"> Agendar</button>
  </ion-row>


</ion-content>