page-produto {

    .header-ios,.header-md{
        background: radial-gradient(circle, rgb(243, 243, 243),#d3d3d3);
    }
    .image-not-code ion-icon {
        margin-top: 40%;
        font-size: 7em;
        margin-left: 37%;
    
    }

    // iOS & Android only  
    
    .label-md, .label-ios{
        margin: 0;
    }

    .item-md, .item-ios {
        h6 {
            color: rgba($color: #FFF, $alpha: .87);
            font-size: 90%;
            margin: 13px 8px 13px 0;

        }
        p {
            color: rgba($color: #FFF, $alpha: .80);
            font-size: 80%;
        }

    }
    
    // iOS, Android & WP
    .item-md, .item-ios, .item-wp {
        box-sizing : content-box;
        h2, p ,h6{
            white-space: normal;
            
            size: 10px;
        }
    
    }

    .input{

        background-color: transparent;
        font-size: 13px;
        border-radius: 60px;
        color: #FFF;
        border: 0;
        border-bottom: 0;
        margin: 0;
        width: 100%;
        margin-top: 10px;
        
    }

    .input :hover{

        cursor: pointer;
    }

    .item-ios h6, .item-md h6{
        padding: 0 !important;
        margin: 5px !important;
    }
    
    .item-ios p:last-child, .item-md p:last-child{
        padding: 0 !important;
        margin: 5px !important;
        margin-bottom: 0px;
    }

    .list-md .item-block .item-inner, .list-ios .item-block .item-inner{

        border-bottom: 0;
        margin: 5px;
    }

    ion-icon{

        font-size: 25px;
    }

    .iconLogin{
        background: transparent;
        color: #2e2564;
        border-radius: 50%;
        display: inline-block;
        height: 60px;
        width: 60px;
        align-items: center;
        border:1px solid #d6da3b;
    }

    .iconModalidade{
        top: 10px !important;
        left: 18px !important;
        position: relative !important;
        height: 15px !important;
        width: 15px !important;
        font-size: 30px !important;
        color: #FFF;

    }

    .divider{

        border: 0.5px solid #d6da3b;
        margin: 10px;
    }

    .modalidadeTitle{
        padding-left: 20px;
        top: 25px;
        position: absolute;
        font-size: 15px;

    }

    .imgAulas{
        max-width: 25%;

    }
    .lista-aula{
        margin-top: 10%;
    }

}
    