<ion-header>
    <div class="logo">
        <img src="assets/imgs/logo tennis lounge-02.png" style="width: 196px;margin-left: 50px;" />
    </div>
</ion-header>

<ion-content class="no-scroll" style="background:url(assets/imgs/fundo.png)">
    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=50>
        <ion-refresher-content pullingIcon="arrow-forward" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list class="lista-aula">
        <ion-row>
            <ion-item class="input" (click)="goCalendar(1)">
                <span >
                    <img src="assets/imgs/icons-app-squash.png" id="imgSquash" class="imgAulas" *ngIf="!imageURI" alt="Aula Squash">
                    <span class="modalidadeTitle">Squash</span>
                </span>
                <button ion-button clear item-end color="secondary">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ion-row>

        <div class="divider"></div>

        <ion-row>
            <ion-item class="input" (click)="goCalendar(2)">
                <span>
                    <img src="assets/imgs/icons-app-tenis.png" id="imgTenis" class="imgAulas" *ngIf="!imageURI" alt="Aula Tenis">
                    <span class="modalidadeTitle">Tênis</span>
                </span>
                <button ion-button clear item-end color="secondary">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ion-row>

        <div class="divider"></div>

        <ion-row>
            <ion-item class="input" (click)="goCalendar(3)">
                <span >
                    <img src="assets/imgs/icons-app-funcional.png" id="imgFuncional" class="imgAulas" *ngIf="!imageURI" alt="Aula Funcional">
                    <span class="modalidadeTitle">Funcional</span>
                </span>
                <button ion-button clear item-end color="secondary">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ion-row>

        <div class="divider"></div>
        <ion-row>
            <ion-item class="input" (click)="goCalendar(4)">
                <span>
                    <img src="assets/imgs/icons-app-kids.png" id="imgKids" class="imgAulas" *ngIf="!imageURI" alt="Aula Tenis Kids">
                    <span class="modalidadeTitle">Tênis Kids</span>
                </span>
                <button ion-button clear item-end color="secondary">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ion-row>
    </ion-list>

</ion-content>